Your {{.Product}} account is now connected to {{.Provider}}. You can use it to sign in.

You signed in with {{.Provider}} using the same email address, so we linked the two.

If this was not you, sign in with your password and change it, then tell your server admin. Review your account here: {{.Link}}

{{.Product}}
