<!doctype html>
<html><body style="font-family:sans-serif;line-height:1.5;color:#111">
<p>The password of your {{.Product}} account was just changed, and all other sessions were signed out.</p>
<p>If this was not you, reset your password now and contact the operator of this server.</p>
<p style="color:#666;font-size:13px">{{.Product}}</p>
</body></html>
