The password of your {{.Product}} account was just changed, and all other sessions were signed out.

If this was not you, reset your password now and contact the operator of this server.

{{.Product}}
